/*Nunito Sans Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;800&display=swap');

:root {
	--primary-9: #a6b1e1;
	--secondary-9: #454545;
	--accent-9: #ef3054;
	--text-bright-9: #ffeed6;
	--text-bright-translucent: rgb(255, 238, 214, 10%);
	--text-dark-9: #2b2b2b;
}

* {
	box-sizing: border-box;
	font-family: 'Nunito Sans', Courier, monospace;
	/* Below border for testing purposes */
	/* border: 1px dotted var(--text-dark-9); */
}

html,
body {
	margin: 0;
	padding: 0px;
	background-color: var(--primary-9);
	display: flex;
	width: 100%;
	height: 100%;
	/* background-image: url('./images/stationary-pattern.jpg'); */
	/* opacity: 50%; */
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.brand-name {
	display: flex;
	width: 65vw;
	font-size: 3em;
	font-weight: bolder;
	color: var(--text-dark-9);

	/* text-shadow: 0 0 50px var(--primary-9); */
}

.tagline {
	font-size: 4.5em;
	font-weight: bold;
	width: 65vw;
	color: var(--text-bright-9);

	/* text-shadow: 0 0 5px var(--text-bright-9); */
}

.highlight {
	color: var(--accent-9);
}

.action-btn,
.action-btn:active {
	margin-top: 20px;
	padding: 10px 15px;
	font-size: 2.5em;
	font-weight: bold;
	border-radius: 40px;
	border: none;
	border: 2px solid;

	text-decoration: none;

	border-color: var(--accent-9);
	background-color: var(--text-bright-translucent);
	color: var(--accent-9);

	box-shadow: 0 0 15px;

	transition: all 0.2s ease-in;
}

.action-btn:hover {
	cursor: pointer;

	border-color: var(--accent-9);
	background-color: var(--accent-9);
	color: var(--text-bright-9);
}
