/*Nunito Sans Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;800&display=swap');

:root {
	/* --header: #4b88a2ff;
	--body: #fcecc9ff;
	--content: #7c606bff;
	--text: #fdf2fbff;
	--footer: #1b264fff;
	--dark: #171123; */
	/* --no-color: rgba(0, 0, 0, 0); */

	--primary-9: #a6b1e1;
	--secondary-9: #454545;
	--accent-9: #ef3054;
	--text-bright-9: #ffeed6;
	--text-dark-9: #2b2b2b;
	/* --bg-dark-9: #424b54; */
}

* {
	box-sizing: border-box;
	/* transition: all ease-out 0.3s; */
	font-family: 'Nunito Sans', Courier, monospace;
}
ul > li {
	list-style-type: none;
}
a {
	text-decoration: none;
	/* color: var(--text); */
}

img {
	z-index: 2;
	position: relative;
}

.invisible-btn {
	/* color: var(--text); */
	padding: 5px 10px;
	border-radius: 20px;
}
.invisible-btn:hover {
	/* background-color: var(--text); */
	/* color: var(--dark); */
}

/* ------------------------------------------------------------------------------------------------------------- */

body {
	/* color: var(--primary-9); */
	background-color: var(--primary-9);
	margin: 0px;
	padding: 0px;
	/* font-family: cursive; */
	box-sizing: border-box;
}

body > * {
	width: 100%;
}

header {
	margin: 0px;
	background-color: #4b88a2ff;
	justify-content: center;
}

#menu-bar-outer {
	display: flex;
	position: fixed;
	background: linear-gradient(0, var(--no-color) 0%, var(--dark) 100%);
	backdrop-filter: blur(5px);
	z-index: 3;
}

#menu-bar {
	width: 100vw;
	display: flex;
	font-size: 110%;
	color: #fdf2fbff;
	justify-content: center;
}

#menu-bar > ul {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
}

#menu-bar > ul > li {
	display: inline;
	font-size: larger;
	text-decoration: none;
	border-bottom: 0;
	margin: 0 10px;
}

#main-header {
	display: flex;
	/* color: #fdf2fbff; */
	padding-top: 60px;
}

#profile-pic {
	width: 40%;
	height: 35vh;
	justify-content: center;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: right;
}

#profile-pic > img {
	height: 30vh;
	border-radius: 50%;
	padding: 2vh;
}

#key-abouts {
	width: 60%;
	height: 35vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: left;
}

#inner-key-abouts {
	padding: 2vh;
	float: left;
}

#inner-key-abouts > * {
	margin: 1vh;
}

#body {
	margin: 0px;
	padding-top: 2%;
	padding-right: 0;
}

.catalog-outer {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	overflow-x: auto;
	margin: 2%;
}

.category h2 {
	display: inline;
	padding: 10px;
	padding-right: 50px;
	margin: 10px;
	margin-left: 0px;
	/* background-color: #26547c; */
	/* color: #fdf2fbff; */
	font-weight: 500;
	border-radius: 0px 10px 10px 0px;
}

.catalog-inner {
	/* background-color: #26547c; */
	padding: 0 20px 0 20px;
	margin: 10px;
	width: 460px;
	height: 350px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}

.catalog-inner > a {
	text-align: center;
	text-decoration: none;
	/* color: #fdf2fbff; */
}

.catalog-inner > a > img {
	width: 250px;
	border-radius: 30px;
}

footer {
	margin: 0px;
	padding: 10px;
	/* background-color: #1b264fff; */
	/* color: #fdf2fbff; */
}

#quick-links > ul {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-around;
	align-items: center;
	padding: 0;
}
