@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
@layer base {
	* {
		box-sizing: border-box;
	}

	.highlight-on-hover {
		@apply hover:font-bold;
	}

	body {
		font-family: 'Nunito Sans', Cambria, Georgia, Courier, monospace;
		font-size: 18px;
		@apply flex;
		@apply min-h-dvh;
		@apply flex-col;
		@apply justify-between;
		@apply bg-primary-6;
		@apply text-secondary-8;
	}

	@media (max-width: 767px) {
		body {
			font-size: 14px;
		}
	}

	header {
		@apply sticky;
		@apply top-0;
		@apply z-50;

		@apply flex;
		@apply justify-between;
		@apply py-1;
		@apply justify-around;
		@apply sm:justify-between;

		@apply font-bold;

		@apply border-b-2;
		@apply border-accent-6;
		@apply bg-primary-6;
		@apply shadow-secondary-2;
		@apply drop-shadow-2xl;
	}

	.top-logo {
		@apply flex;
		@apply ml-1;
		@apply items-center;

		@apply text-4xl;
		@apply sm:text-2xl;
		@apply drop-shadow-sm;

		@apply cursor-pointer;
	}

	.logo-text-bit {
		@apply px-0.5;
		@apply shadow-white;
		@apply text-sm;
	}

	.header-icons {
		@apply hidden;
		@apply sm:flex;
		@apply mr-2;
	}

	.header-icon {
		@apply flex;
		@apply items-center;
	}

	.header-icon > img {
		@apply p-2;
		@apply mx-0.5;
		@apply cursor-pointer;
		@apply rounded-full;
		@apply hover:shadow-round;
	}

	.cart-filled {
		@apply text-base;
		@apply bg-attention-8;
		@apply rounded-full;
		@apply p-1;
		@apply relative;
		left: -8px;
	}

	.hero-section {
		@apply hover:cursor-pointer;
		@apply z-20;
		@apply m-0;
		@apply flex;
		@apply h-30dvh;
		@apply md:h-50dvh;
		@apply overflow-hidden;
	}

	.slideshow-container {
		@apply w-full;
		@apply h-full;
	}

	.slideshow-container img {
		@apply w-full;
		@apply h-full;
		@apply object-cover;
	}

	.main-container {
		@apply z-40;
		@apply border-t-2;
		@apply border-accent-6;
		@apply bg-primary-6;
		@apply p-0;
		@apply sm:p-4;
		@apply shadow-secondary-2;
		@apply drop-shadow-2xl;
		@apply min-h-dvh;
	}

	.product-palette {
		@apply p-4;
		@apply bg-primary-4;
		@apply rounded-none;
		@apply sm:rounded-2xl;
		@apply shadow-sm;
		@apply shadow-secondary-4;
		@apply m-0;
		@apply sm:mb-4;
		@apply border-spacing-0.5;
		@apply border-secondary-2;
	}

	.product-palette > h1 {
		@apply mb-1;
		@apply pl-2;
		@apply text-2xl;
		@apply sm:text-xl;
		@apply font-semibold;
		@apply text-accent-8;
	}

	.product-palette > hr {
		@apply border-accent-6;
		@apply p-2;
	}

	.products-card {
		@apply grid;
		@apply grid-cols-2;
		@apply sm:grid-cols-3;
		@apply md:grid-cols-4;
		@apply lg:grid-cols-5;
		@apply gap-4;
	}

	.product-card {
		@apply overflow-hidden;
		@apply bg-primary-8;
		@apply rounded-2xl;
		@apply shadow-sm;
		@apply shadow-primary-2;
		@apply cursor-pointer;
		@apply border-0;
		@apply hover:border-primary-8;
		@apply p-0;
		@apply hover:shadow-lg;
		@apply hover:transition-all;
	}

	.product-top {
		@apply relative;
	}

	.product-highlight {
		@apply absolute;
		@apply z-40;
		@apply top-2;
		@apply left-2;
		@apply px-2;
		@apply py-0.5;
		@apply bg-accent-8;
		@apply text-primary-8;
		@apply rounded-3xl;
		@apply text-xs;
		@apply font-bold;
	}

	.product-like-btn {
		@apply absolute;
		@apply z-40;
		@apply top-2;
		@apply right-2;
		@apply p-2;
		@apply bg-translucent-8;
		box-shadow: 0 0 40px 25px rgba(0, 0, 0, 0.09),
			0 0 40px 10px rgba(0, 0, 0, 0.01);
	}

	.product-img {
		@apply aspect-square;
	}

	.product-bottom {
		@apply flex;
		@apply flex-col;
		@apply h-max;
		@apply p-2;
		@apply m-0;
		@apply border-2;
		@apply border-t-0;
		@apply rounded-2xl;
		@apply rounded-t-none;
		@apply group-hover:border-0;
		@apply bg-primary-6;
		@apply border-primary-8;
	}

	.product-meta {
		@apply flex;
		@apply flex-col;
	}

	.product-meta > * {
		@apply truncate;
	}

	.rating-info {
		@apply flex;
		@apply justify-between;
		@apply text-xs;
	}

	.rating-info > * {
		@apply p-0.5;
		@apply flex;
	}

	.product-name {
		@apply text-base;
		@apply font-bold;
	}

	.manufacturer-name {
		@apply text-xs;
	}

	.product-footer {
		@apply flex;
		@apply justify-between;
		@apply items-stretch;
		/* @apply pr-2; */
	}

	/* ========== */

	.price-info {
		@apply w-full;
		@apply flex;
		@apply justify-between;
	}

	.price-info div {
		@apply self-center;
	}

	.price-primary {
		@apply text-secondary-8;
		@apply font-bold;
		@apply text-base;
	}

	.price-secondary {
		@apply flex;
		@apply text-xs;
	}

	.price-secondary > * {
		@apply px-0.5;
	}

	.price-secondary > *:first-child {
		@apply text-secondary-4;
		@apply line-through;
	}

	.price-secondary > *:last-child {
		@apply text-secondary-6;
	}

	/* ========== */

	.product-action {
		@apply mt-1;
	}

	.product-action > div {
		@apply border-2;
		@apply border-primary-8;
		@apply rounded-3xl;
		@apply overflow-hidden;
		@apply group-hover:border-accent-8;
		@apply hover:bg-accent-8;
		@apply hover:text-primary-8;
		@apply font-bold;
		@apply p-2;
		@apply py-1;
		@apply text-sm;
		@apply text-center;
	}

	/*------------------------------------------------------------------------- */
	/* Search Page CSS */

	.search-header{
		@apply p-4;
		@apply bg-primary-4;
		@apply rounded-none;
		@apply sm:rounded-2xl;
		@apply shadow-sm;
		@apply shadow-secondary-4;
		@apply m-0;
		@apply sm:mb-4;
		@apply border-spacing-0.5;
		@apply border-secondary-2;
	}

	.search-bar {
		@apply grid;
		grid-template-columns: 9fr 1fr;
		@apply justify-around;
		@apply items-center;
		@apply bg-primary-8;
		@apply rounded-3xl;
		@apply shadow-sm;
		@apply shadow-primary-2;
		@apply cursor-pointer;
		@apply border-0;
		@apply hover:border-primary-8;
		@apply p-0;
		@apply hover:shadow-lg;
		@apply hover:transition-all;
		@apply overflow-hidden;
		width: 60vw;
		@apply h-10;
	}
	
	.search-bar input{
		@apply w-full;
		@apply h-full;
		@apply rounded-3xl;
		@apply border-1;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		@apply pl-2;
	}

	.search-bar button{
		@apply w-full;
		@apply h-full;
		@apply rounded-3xl;
		@apply border-1;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-right: 0;
		outline: none;
		@apply flex;
		@apply justify-around;
		@apply items-center;
	}

	/*------------------------------------------------------------------------- */

	.bottom-nav {
		@apply fixed;
		@apply bottom-0;
		@apply block;
		@apply w-full;
		@apply h-14;
		@apply sm:hidden;
		@apply border-t-2;
		@apply bg-primary-4;
		@apply border-primary-8;
		@apply drop-shadow-secondary;
		@apply z-50;
	}

	.nav-items-container {
		@apply grid;
		@apply grid-cols-5;
		@apply h-full;
	}

	.nav-items-container > * {
		@apply flex;
		@apply w-full;
		@apply justify-center;
		@apply items-center;
	}

	.nav-bottom-item {
		@apply w-10;
		@apply aspect-square;
		@apply rounded-full;
		@apply p-2;
		@apply self-center;
		@apply cursor-pointer;
		@apply hover:bg-accent-8;
		@apply hover:shadow-round;
	}

	.active-tab {
		background-color: #007bff;
		box-shadow: 0 0 8px rgb(100 100 100 / 0.5);
	}

	/* ------------------------------------------------------------------------- */

	footer {
		@apply z-40;
		@apply flex;
		@apply min-h-10vh;
		@apply flex-col;
		@apply overflow-hidden;
		@apply bg-secondary-6;
		@apply p-10;
		@apply pb-4;
		@apply font-thin;
		@apply text-primary-8;
	}

	footer > ul {
		@apply w-full;
		@apply grid;
		@apply grid-cols-1;
		@apply justify-evenly;
		@apply gap-3;
		@apply text-sm;
		@apply sm:grid-cols-2;
		@apply md:grid-cols-3;
		@apply lg:grid-cols-5;
		@apply pb-4;
	}

	.footer-sublist {
		@apply m-0;
		@apply px-2;
	}

	.footer-heading {
		@apply px-2;
		@apply font-normal;
		@apply text-base;
		@apply border-primary-4;
	}

	.footer-sublist > ul > li {
		@apply m-2;
		@apply text-sm;
	}

	.footer-sublist > ul a {
		@apply p-1;
		@apply font-normal;
		@apply inline;
		@apply cursor-pointer;
	}

	.footer-text {
		@apply border-t-1;
		@apply pt-4;
		@apply pb-12;
		@apply sm:pb-1;
		@apply text-center;
		@apply text-xs;
	}
}
